.tasksLi {
    display: flex;
    justify-content: space-between;
}

.taskChecked {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.checkTitle {
    margin-right: 15px;
    display: flex;
}