.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.container:last-child {
    margin-right: 0;
}

.titleButton {
    display: flex;
    align-items: center;
}

.tlDelButton {
    width: 35px;
    height: 25px;
    margin-left: 10px;
}

.input {
    outline: none;
}

.errorInput {
    outline: none;
    border-color: red;
}

.errorTitle {
    color: red;
}

.active { /* FOR BUTTON */
    background-color: #c4ffc4;
    margin-right: 5px;
}

.tasksUl {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

.tasksLi {
    display: flex;
    justify-content: space-between;
}

.taskChecked {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.checkTitle {
    margin-right: 15px;
}